
/* Your CSS Code here. */
.moviePic{
	height: 200px;
	weight: 200px;
	opacity: .9;
	background-color: pink;
	
}
.movieDetail{
	position: absolute;
	top: 50vh;
	width: 100%;
	text-align: center;
	font-size: 30px;
}